<div class="container">
    <header class="blog-header">
      <div class="row d-flex justify-content-between align-items-center p-4">
        <div>
            <a  class="pr-2" href="{{site.baseurl}}/kontakt"> Kontakt </a>
            <a  href="{{ site.baseurl }}/info"> Info </a>
        </div>
        <div>
          <div class="toggle">toggle</div>
        </div>
      </div>
    </header>
      </div>


      <script>
      
       const toggle = document.querySelector('.toggle');
       const bodys = document.querySelector('.container');
       const bodyss = document.querySelector('.body');
       
       toggle.addEventListener('click', () => {
          console.log(bodys);
         
          bodys.classList.toggle("changer");
          bodyss.classList.toggle("changer");
       });
      </script>
    