<div class="container">
    <header class="blog-header row d-flex justify-content-between align-items-center pl-3 pr-3">
        <div class="blog-header__items">
            <a  class="pr-2" href="{{site.baseurl}}/kontakt"> Kontakt </a>
            <a  href="{{ site.baseurl }}/info"> Info </a>
        </div>
        <div class="blog-header__items">
          <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
        </div> 
    </header>
  </div>

      <script>     
      var checkbox = document.querySelector('input[name=theme]');

      checkbox.addEventListener('change', function() {
    if(this.checked) {
        document.body.setAttribute('data-theme', 'dark')
    } else { 
        document.body.setAttribute('data-theme', 'light')
    }
    })
  </script>
   