<!-- Don't edit anything here, categories are dynamically generated -->

<nav class="navbar sticky-top">
    <h4 style="text-transform: uppercase ">Kategorie</h4>
    <ul class="navbar__list">
    {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
          <li class="navbar__item"><a class="navbar__link" style="text-transform: uppercase" href="category/{{ category | downcase }}">{{ category }} ({{ site.tags[category].size }})</a></li>
        {% endfor %}
      {% else %}
        {% for category in categories_list %}
          <li class="navbar__item"><a class="navbar__link" style="text-transform: uppercase" href="{{site.url}}{{site.baseurl}}/category/{{ category[0] | downcase }}">{{ category[0] }} ({{ category[1].size }})</a></li>
        {% endfor %}
      {% endif %}
    {% assign categories_list = nil %}
    </ul>    
</nav>
