<h3>Media</h3>
<a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}"> <i class=" d-flex fa fa-twitter fa-lg mt-3 text-muted" aria-hidden="true"></i></a>
<a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;"><i class=" d-flex fa fa-facebook fa-lg mt-3 text-muted" aria-hidden="true"></i></a>
<a target="_blank" href="https://plus.google.com/share?url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-google', 'width=550,height=435');return true;"><i class=" d-flex fa fa-google-plus fa-lg mt-3 text-muted" aria-hidden="true"></i></a>

<br>
{% if page.comments == true %}  
<a href="{{ site.url }}{{ page.url }}#disqus_thread" class="disqus-comment-count d-flex">Comments</a>
{% endif %}