/* stylelint-disable selector-list-comma-newline-after */

body{
  --font-size: 14px;
  --clr-light:#fcfcfc;
  --clr-light-2: #ffffff;

  --clr-dark: #333333;
  --clr-light-dark: #3d3d3d;
  
  --clr-other: rgb(18, 113, 177);



  font-size: var(--font-size);
  background:var(--clr-light);
  color:var(--clr-dark);
  font-family: 'Poppins', Georgia, "Times New Roman", serif;
}

body[data-theme='dark']{
  --font-size: 14px;
  --clr-light:#0b1e25;
  --clr-light-2: #102c36;

  --clr-dark: #f3f3f3;
  --clr-light-dark: #c0c0c0;

}
.prev, .next{
  color:var(--clr-other);
}

.post-container{
  border:.5px solid rgba(87, 87, 87, 0.089);
  margin-bottom: 8px;
  padding:15px;
  transition: all .7s ease-in-out;
}
.post-container:nth-child(odd){
  background:var(--clr-light-2);
  transform: scale(1.04);
}
.blog-header {
    /* margin-bottom:30px; */
  }

.blog-header__items{
  margin:0;
  padding:0;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card{
  background: var(--clr-light-2);
  color:var(--clr-light-dark);
}
  
  .blog__logo{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
   
  }  
  h1{ 
    font-weight: 700;
    color:inherit;
  }
  h2,h3,h4{
    margin: 15px 0;
    font-weight: 400;
  }
  p{
    line-height: 30px;
    font-weight: 300;
    padding:5px 2px;
    color:var(--clr-light-dark);
  }
  a{
    color:inherit;
    padding: 0;
    margin: 0;
  }
  a:hover{
    color:var(--clr-other);
    text-decoration: none;
  }
  
 .navbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  margin: 0; 
 }
 .navbar__list{
  list-style-type: none;
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
 }
 .navbar__item{
  padding:5px 10px 5px 0;
  
  
 }
 .highlight{
   padding:3px;
   box-sizing: border-box;
 }
 .link-image{
   
   word-break: break-all;
 }
 .navbar__link:hover{
   color:var(--clr-other);
   text-decoration: none;
 }


 .jumbotron{
   color:var(--clr-other);
 }

 .post__head{
  margin: 0;
  padding: 0;
  color: var(--clr-other);
 }
 .post__header{
   font-size:2.5em;
  
 }
 .post__snipped{
   line-height: 30px;
   letter-spacing: .5px;
   color:var(--clr-light-dark);
   font-weight: 400;
   font-size:1.3em;
 }

 .link-image{
   word-wrap: wrap;
 }


 /* post style */
.site-post{
  font-size:18px;
}
 .site-post__img{
   width:100%;
   height: auto;
   
 }
 .site-post__title{
  font-size:3.5em;
 }
 .site-post__snipped{
  font-weight: 400;
 }
@media(max-width: 468px){
  .site-post{
    font-size:13px;
  }
}

/* 
 .changer{
  color:white !important;
  background:rgb(32, 32, 44);
}
.changer .jumbotron{
  color:black;
}
.changer p{
  color:white !important;
}
.changer a{
  color:white !important;
} */








/* input */




input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 20px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 3px;
	width:18px;
	height:18px;
	background: #fff;
	border-radius:18px;
	transition: 0.3s;
}

input:checked + label {
	background: #0b6a81;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 26px;
}