---
layout: main
---
<div class="jumbotron text-center">
    <h1 style="text-transform: uppercase">{{page.category}}</h1>
</div>

<div >

    {% assign cat = page.category | downcase %}
  
    {% for post in site.categories[cat] %}
   <div class="container-fluid post-container">
      <a href="{{site.url}}{{site.baseurl}}{{ post.url}}">
          <h1 class="post__header" {% if page.title == post.title %} class="active" {% endif %}>{{ post.title }}</h1>
          <p class="post__snipped">{{post.snipped}}</p>
    </a>
    <div class="container-fluid d-flex justify-content-between post__head">
        <a href="{{site.url}}{{site.baseurl}}/category/{{post.categories}}">{{post.categories}}</a>
        <small><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%d/%m/%Y" }}</small>
  </div>
   </div>
    {% endfor %}
    {% assign cat = nil%}

  </div>



  <a href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
