---
layout: main

---

{% for post in site.posts limit:10%}
<div class="container post-container">
        <div class="container-fluid d-flex justify-content-between post__head">
                <a href="{{site.url}}{{site.baseurl}}/category/{{post.categories}}">{{post.categories}}</a>
                <small><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%d/%m/%Y" }}</small>
          </div>
      <h1 class="post__header">
        <a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{ post.title}}</a>
      </h1>
      <p class="post__snipped">{{ post.snipped }}</p>    
</div>
{% endfor %}

