---
layout: main
author: "me"

---

<div class="container-fluid site-post">
    <div class="wrap d-flex justify-content-between pb-1">
        <a href="{{site.url}}{{site.baseurl}}/category/{{page.categories}}">{{page.categories}}</a>
        <small class="text-muted">{{ page.date | date: "%d/%m/%Y" }}</small>
    </div>
    {% if page.full-image %}
    <img src="{{page.full-image}}" class="site-post__img img-fluid " alt="img">
    <small class="link-image mb-5">{{page.full-image}}</small>
    {% endif %}
    <div class="row">
        <div class="col-md-12 pt-4">
            <h1 class="site-post__title pb-2">{{page.title}}</h1>
            <p class="site-post__snipped">{{ page.snipped }}</p>
        </div>
        
    </div>
    
    <hr>
    {{content}}
</div>

<div class="container-fluid">
    <div class="row pb-2 pt-2">
        <div class="col-md-6 col-xs-12 text-md-left ">
            {% if page.previous.url %}
            <a class="prev text-success" href="{{page.previous.url | absolute_url}}">
                <h3 class="text-success">Poprzedni</h3>
            </a>
            {% endif %}
        </div>
        <div class="col-md-6 col-xs-12 text-md-right">
            {% if page.next.url %}
            <a class="next  text-right text-success" href="{{page.next.url | absolute_url}}">
                <h3 class="text-success">Następny</h3>
            </a>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
    
    <div id="comments" class="row">
        <div class="col-md-12 ">
            {% if page.comments == true %}
            {% include disqus.html %}
            {% endif %}
        </div>
    </div>
<hr>
    <h3>Podobne posty:</h3>
    <div class="row pb-4">
        {% include related-posts.html %}
    </div>
</div>